---
import MainLayout from "../layouts/main-layout.astro";
import One from "../icons/one.tsx";
import Two from "../icons/two.tsx";
import Three from "../icons/three.tsx";
import Four from "../icons/four.tsx";
import ServiceIconOne from "../icons/service1-icon.tsx";
import ServiceIconTwo from "../icons/service2-icon.tsx";
import ServiceIconThree from "../icons/service3-icon.tsx";
import ServiceIconFour from "../icons/service4-icon.tsx";

const howWeWorkDetails = [
  {
    imgIcon: ServiceIconOne,
    numIcon: One,
    img: "/service1.png ",
    title: "Habitacion Simple",
    info: "It is a long established fact  will be distracted. Lorem Ipsum is simply dummy from text of the and typesetting indufstry.",
  },
  {
    imgIcon: ServiceIconTwo,
    numIcon: Two,
    img: "/service2.png",
    title: "Habitacion Doble",
    info: "It is a long established fact  will be distracted. Lorem Ipsum is simply dummy from text of the and typesetting indufstry.",
  },
  {
    imgIcon: ServiceIconThree,
    numIcon: Three,
    img: "/service3.png",
    title: "Habitacion Matrimonial",
    info: "It is a long established fact  will be distracted. Lorem Ipsum is simply dummy from text of the and typesetting indufstry.",
  },
  {
    imgIcon: ServiceIconFour,
    numIcon: Four,
    img: "/service4.png",
    title: "Habitacion King & Queen",
    info: "It is a long established fact  will be distracted. Lorem Ipsum is simply dummy from text of the and typesetting indufstry.",
  },
];
---

<MainLayout title="Interior Design Services">
  <!-- Banner Section -->

  <section
    class="w-full bg-services h-[50vh] flex justify-center items-end bg-no-repeat bg-cover bg-center"
  >
    <div
      class="py-[30px] lg:py-[41px] px-[60px] lg:px-[152px] flex flex-col justify-center items-center bg-white rounded-tl-[37px] rounded-tr-[37px] gap-2.5"
    >
      <h1
        class="text-[30px] leading-[40px] lg:text-[50px] lg:leading-[62px] font-dm capitalize text-primary-200"
      >
        Habitaciones
      </h1>
      <p
        class="text-base lg:text-[22px] lg:leading-[33px] tracking-tight font-jost text-text-gray"
      >
        <a href="/">Inicio</a> / Servicios
      </p>
    </div>
  </section>

  <!-- How We Work Section -->
  <section class="px-12 xl:px-0 w-full mt-[100px] lg:mt-[200px] min-h-screen">
    <div
      class="w-full lg:max-w-[1200px] p-12 mx-auto lg:px-[116px] lg:py-[160px] bg-primary-300 rounded-[70px]"
    >
      <h2
        class="font-dm tracking-wide text-center leading-[37px] lg:leading-[62.50px] text-[30px] lg:text-[50px] w-full capitalize lg:max-w-[50%] pb-2 mx-auto"
      >
        Nuestras Habitaciones
      </h2>
      <p
        class="text-base md:text-[22px] text-center tracking-tight font-jost text-text-gray leading-[33px] lg:max-w-[60%] mx-auto"
      >
        Nos importa que nuestros clientes se sientan comodos al descansar en
        nuestras habitaciones.
      </p>

      <div class="pt-[70px] lg:pt-[100px] flex flex-col gap-[70px]">
        <!-- Inner Sections -->

        {
          howWeWorkDetails.map((detail, index) => {
            const ImageIcon = detail.imgIcon;
            const NumberIcon = detail.numIcon;
            const className = `flex justify-between flex-col ${index % 2 === 0 ? "lg:flex-row" : "lg:flex-row-reverse"} gap-[50px] items-center max-w-[967px]`;

            return (
              <div class={className}>
                <img src={detail.img} alt="image" />
                <div class="flex flex-col gap-12 lg:gap-[58px]">
                  <div class="justify-between hidden lg:flex">
                    <ImageIcon />
                    <NumberIcon />
                  </div>
                  <div class="flex flex-col gap-3">
                    <h3 class="text-text-blue font-dm text-[22px] md:text-[25px] leading-loose">
                      {detail.title}
                    </h3>
                    <p class="text-base md:text-[22px] tracking-tight font-jost text-text-gray leading-[33px]">
                      {detail.info}
                    </p>
                  </div>
                </div>
              </div>
            );
          })
        }

        <!-- Inner Sections End -->
      </div>
    </div>
  </section>
</MainLayout>

<style>
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
</style>
