---
import MainLayout from "../layouts/main-layout.astro";
import QuoteText from "../components/quote.tsx";
import Facebook from "../icons/facebook.tsx";
import Twitter from "../icons/twitter.tsx";
import LinkedIn from "../icons/linkedin.tsx";
import Instagram from "../icons/instagram.tsx";
---

<MainLayout title="Interior Design About Us">
  <!-- Banner Section -->

  <section
    class="w-full bg-about h-[50vh] flex justify-center items-end bg-no-repeat bg-cover bg-center"
  >
    <div
      class="py-[30px] lg:py-[41px] px-[60px] lg:px-[152px] flex flex-col justify-center items-center bg-white rounded-tl-[37px] rounded-tr-[37px] gap-2.5"
    >
      <h1
        class="text-[30px] leading-[40px] lg:text-[50px] lg:leading-[62px] font-dm capitalize text-primary-200"
      >
        Sobre Nosotros
      </h1>
      <p
        class="text-base lg:text-[22px] lg:leading-[33px] tracking-tight font-jost text-text-gray"
      >
        <a href="/">Inicio</a> / Nosotros
      </p>
    </div>
  </section>

  <!-- What We Do Section -->

  <section
    class="w-full pt-[100px] lg:pt-[150px] px-12 lg:px-0 mx-auto lg:max-w-[1200px]"
  >
    <div
      class="w-full flex flex-col-reverse lg:flex-row justify-between gap-10 items-center"
    >
      <div class="flex flex-col gap-6">
        <h2
          class="text-[30px] text-center lg:text-left font-dm tracking-wide capitalize leading-8 md:leading-[62.50px] md:text-[50px] text-text-blue"
        >
          Quiénes Somos
        </h2>
        <p
          class="text-base md:text-[22px] lg:max-w-[85%] text-center lg:text-left tracking-tight font-jost text-text-gray leading-[33px]"
        >
          En El Conquistador, creemos que cada huésped merece una experiencia
          inolvidable. Ubicado en el corazón de <strong> Huanta</strong>,
          nuestro hotel combina lujo, comodidad y un servicio personalizado para
          crear la escapada perfecta.
        </p>
      </div>
      <img
        src="https://i.ibb.co/YT5KVjm/Untitled-design-1.png"
        class="w-4/5 rounded-3xl"
        alt=""
      />
    </div>
  </section>

  <!-- The End Result Section -->

  <section
    class="w-full pt-[100px] lg:pt-[150px] px-12 lg:px-0 mx-auto lg:max-w-[1200px]"
  >
    <div
      class="w-full flex flex-col-reverse lg:flex-row-reverse justify-between gap-24 items-center"
    >
      <div class="flex flex-col gap-6">
        <h2
          class="text-[30px] text-center lg:text-left font-dm tracking-wide capitalize leading-8 md:leading-[62.50px] md:text-[50px] text-text-blue"
        >
          Nuestra Historia
        </h2>
        <p
          class="text-base md:text-[22px] lg:max-w-[95%] text-center lg:text-left tracking-tight font-jost text-text-gray leading-[33px]"
        >
          Fundado en 2010, El Conquistador nació de una pasión por la
          hospitalidad y el deseo de compartir la belleza de<strong>
            Huanta</strong
          > con el mundo. Nuestro equipo está dedicado a proporcionar un ambiente
          cálido y acogedor, asegurando que cada estancia se adapte a tus necesidades.
        </p>
      </div>
      <img
        src="https://images.pexels.com/photos/19045889/pexels-photo-19045889/free-photo-of-bed-in-hotel.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        class="w-4/5 rounded-3xl"
      />
    </div>
  </section>
</MainLayout>

<style>
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
</style>
